In [1]:
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!pip install praw
import praw

Requirement already satisfied: praw in /srv/conda/lib/python3.11/site-packages (7.8.1)
Requirement already satisfied: prawcore<3,>=2.4 in /srv/conda/lib/python3.11/site-packages (from praw) (2.4.0)
Requirement already satisfied: update_checker>=0.18 in /srv/conda/lib/python3.11/site-packages (from praw) (0.18.0)
Requirement already satisfied: websocket-client>=0.54.0 in /srv/conda/lib/python3.11/site-packages (from praw) (1.8.0)
Requirement already satisfied: requests<3.0,>=2.6.0 in /srv/conda/lib/python3.11/site-packages (from prawcore<3,>=2.4->praw) (2.32.3)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests<3.0,>=2.6.0->prawcore<3,>=2.4->praw) (2025.1.31)

In [3]:
user_agent = "Scraper 1.0 by UnderstandingFew623"
reddit = praw.Reddit(
    client_id = "pwzg5gDB_2pTCrQ2uRpVjA",
    client_secret = "71Q8otzpNyRZMFJPRGSjtR5e6ovhbQ",
    user_agent=user_agent
  )

In [4]:
midsize = ["SEZL",
"IDCC",
"AGYS",
"BOX",
"ZETA",
"YOU",
"PAYO",
"PAY",
"LRN",
"UPWK",
"CLSK",
"CIFR",
"WHD",
"AESI",
"POST",
"AROC",
"LPX",
"LNTH",
"LMAT",
"CPRX",
"CORT",
"SEM",
"ANF",
"WRBY",
"OLLI",
"ELF",
"BROS",
"FSV",
"TRNO",
"CIGI",
"MRP",
"ABM"]

In [32]:
headlines = []

for submission in reddit.subreddit("stocks").hot(limit=400):
    upper = submission.title.upper()
    mention = [ticker for ticker in midsize if ticker in upper]

    if mention:
            headlines.append({
            "id":submission.id,
            "title": submission.title,
            "company mentioned": mention,
            "flair":submission.link_flair_text,
            "body paragraph": submission.selftext})
            

    
print(len(headlines))

38

In [33]:
sto = pd.DataFrame(headlines)
sto.head()

,id,title,company mentioned,flair,body paragraph
0,1k5recn,At what net income (from investing) do you ret...,[YOU],None,What would be the minimum that your investment...
1,1k4m0wz,What do you think is going through Elons mind ...,[YOU],None,What do you think is going through Elons mind ...
2,1k5ozeh,What do you use to invest?,[YOU],Advice Request,Do you utilize brokerages or are you fans of m...
3,1k5he0f,Warner Bros. Discovery starts Max password sha...,[BROS],None,Warner Bros. Discovery is taking a page out of...
4,1k4r1x0,"If Trump posted, ""It's a great time to buy!"" -...","[YOU, POST]",None,"It's a Tuesday morning, you are minding your o..."

In [7]:
sto.to_csv('headlines.csv', header=False, encoding='utf-8', index=False)

In [8]:

import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /srv/conda/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [35]:
#vader
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
sia  =SIA()
results = []
for line in headlines:
    pol_score= sia.polarity_scores(line["title"])
    pol_score["title"] = line
    pol_score["id"] = line["id"]
    pol_score["company mentioned"] = line["company mentioned"]
    pol_score["flair"] = line["flair"]
    pol_score["body paragraph"] = line["body paragraph"]
    results.append(pol_score)

pprint(results[:3], width=100)

[{'body paragraph': 'What would be the minimum that your investments (after taxes) need to yield '
                    'for you to allow yourself to retire? That you can feel comfortable with doing '
                    'so.\n'
                    'Consider it wont be stable income. \n'
                    '\n'
                    'Some years more or less cause its still invested in high risk but managed.\n'
                    'Worst case you lose like 2% a year and thats rare, usually you just wont make '
                    'much.\n'
                    '\n'
                    '*you dont have to if you like your job but the question remains.\n'
                    'Thank you.',
  'company mentioned': ['YOU'],
  'compound': 0.0,
  'flair': None,
  'id': '1k5recn',
  'neg': 0.0,
  'neu': 1.0,
  'pos': 0.0,
  'title': {'body paragraph': 'What would be the minimum that your investments (after taxes) need '
                              'to yield for you to allow yourself to retire? That you can feel '
                              'comfortable with doing so.\n'
                              'Consider it wont be stable income. \n'
                              '\n'
                              'Some years more or less cause its still invested in high risk but '
                              'managed.\n'
                              'Worst case you lose like 2% a year and thats rare, usually you just '
                              'wont make much.\n'
                              '\n'
                              '*you dont have to if you like your job but the question remains.\n'
                              'Thank you.',
            'company mentioned': ['YOU'],
            'flair': None,
            'id': '1k5recn',
            'title': 'At what net income (from investing) do you retire?'}},
 {'body paragraph': 'What do you think is going through Elons mind right now now? TSLA earnings '
                    'call tomorrow. He is probably losing his mind…. Will TSLA hit 10$ in a few '
                    'years, go bankrupt, or even with a new CEO, the brand is wrecked. ',
  'company mentioned': ['YOU'],
  'compound': 0.0,
  'flair': None,
  'id': '1k4m0wz',
  'neg': 0.0,
  'neu': 1.0,
  'pos': 0.0,
  'title': {'body paragraph': 'What do you think is going through Elons mind right now now? TSLA '
                              'earnings call tomorrow. He is probably losing his mind…. Will TSLA '
                              'hit 10$ in a few years, go bankrupt, or even with a new CEO, the '
                              'brand is wrecked. ',
            'company mentioned': ['YOU'],
            'flair': None,
            'id': '1k4m0wz',
            'title': 'What do you think is going through Elons mind right now now? TSLA earnings '
                     'call tomorrow.'}},
 {'body paragraph': 'Do you utilize brokerages or are you fans of more independent roots like '
                    "Robin hood? I gain stocks through my work but I'm wanting to start slowly "
                    "getting into ETFs and I'm looking for good suggestions. ",
  'company mentioned': ['YOU'],
  'compound': 0.0,
  'flair': 'Advice Request',
  'id': '1k5ozeh',
  'neg': 0.0,
  'neu': 1.0,
  'pos': 0.0,
  'title': {'body paragraph': 'Do you utilize brokerages or are you fans of more independent roots '
                              "like Robin hood? I gain stocks through my work but I'm wanting to "
                              "start slowly getting into ETFs and I'm looking for good "
                              'suggestions. ',
            'company mentioned': ['YOU'],
            'flair': 'Advice Request',
            'id': '1k5ozeh',
            'title': 'What do you use to invest?'}}]

In [10]:
stock = pd.DataFrame.from_records(results)
stock.head()

,neg,neu,pos,compound,title,id,company mentioned
0,0.0,1.000,0.000,0.0000,"{'id': '1k5recn', 'title': 'At what net income...",1k5recn,[YOU]
1,0.0,1.000,0.000,0.0000,"{'id': '1k4m0wz', 'title': 'What do you think ...",1k4m0wz,[YOU]
2,0.0,1.000,0.000,0.0000,"{'id': '1k5ozeh', 'title': 'What do you use to...",1k5ozeh,[YOU]
3,0.0,0.714,0.286,0.4215,"{'id': '1k5he0f', 'title': 'Warner Bros. Disco...",1k5he0f,[BROS]
4,0.0,0.715,0.285,0.6588,"{'id': '1k4r1x0', 'title': 'If Trump posted, ""...",1k4r1x0,"[YOU, POST]"

In [11]:
stock["label"] = 0
stock.loc[stock['compound']> 0.2, 'label'] = 1
stock.loc[stock['compound']< 0.2, 'label'] = -1
stock.head()

,neg,neu,pos,compound,title,id,company mentioned,label
0,0.0,1.000,0.000,0.0000,"{'id': '1k5recn', 'title': 'At what net income...",1k5recn,[YOU],-1
1,0.0,1.000,0.000,0.0000,"{'id': '1k4m0wz', 'title': 'What do you think ...",1k4m0wz,[YOU],-1
2,0.0,1.000,0.000,0.0000,"{'id': '1k5ozeh', 'title': 'What do you use to...",1k5ozeh,[YOU],-1
3,0.0,0.714,0.286,0.4215,"{'id': '1k5he0f', 'title': 'Warner Bros. Disco...",1k5he0f,[BROS],1
4,0.0,0.715,0.285,0.6588,"{'id': '1k4r1x0', 'title': 'If Trump posted, ""...",1k4r1x0,"[YOU, POST]",1

In [12]:
stock2 = stock[['title','label']]

In [13]:
stock2.to_csv('reddit_headlines_labels.csv', encoding='utf-8', index=False)

In [14]:
stock2.head()

                                               title  label
0  {'id': '1k5recn', 'title': 'At what net income...     -1
1  {'id': '1k4m0wz', 'title': 'What do you think ...     -1
2  {'id': '1k5ozeh', 'title': 'What do you use to...     -1
3  {'id': '1k5he0f', 'title': 'Warner Bros. Disco...      1
4  {'id': '1k4r1x0', 'title': 'If Trump posted, "...      1

In [15]:
for submission in reddit.subreddit("stocks").hot(limit=None):

    headlines.append({
        "id":submission.id,
        "title": submission.title,
        
    })

In [16]:
stock.label.value_counts()

label
-1    28
 1    10
Name: count, dtype: int64

In [17]:
stock.label.value_counts(normalize=True) *100

label
-1    73.684211
 1    26.315789
Name: proportion, dtype: float64

In [18]:
#scraping

In [19]:
stock

,neg,neu,pos,compound,title,id,company mentioned,label
0,0.000,1.000,0.000,0.0000,"{'id': '1k5recn', 'title': 'At what net income...",1k5recn,[YOU],-1
1,0.000,1.000,0.000,0.0000,"{'id': '1k4m0wz', 'title': 'What do you think ...",1k4m0wz,[YOU],-1
2,0.000,1.000,0.000,0.0000,"{'id': '1k5ozeh', 'title': 'What do you use to...",1k5ozeh,[YOU],-1
3,0.000,0.714,0.286,0.4215,"{'id': '1k5he0f', 'title': 'Warner Bros. Disco...",1k5he0f,[BROS],1
4,0.000,0.715,0.285,0.6588,"{'id': '1k4r1x0', 'title': 'If Trump posted, ""...",1k4r1x0,"[YOU, POST]",1
5,0.000,1.000,0.000,0.0000,"{'id': '1k5qhkj', 'title': 'Are you still hold...",1k5qhkj,[YOU],-1
6,0.000,1.000,0.000,0.0000,"{'id': '1k4mco3', 'title': 'How Far Do You Thi...",1k4mco3,[YOU],-1
7,0.278,0.722,0.000,-0.4019,"{'id': '1k44z2r', 'title': 'Only Trade What Yo...",1k44z2r,[YOU],-1
8,0.000,1.000,0.000,0.0000,"{'id': '1k44x1q', 'title': 'The illusion of di...",1k44x1q,[YOU],-1
9,0.000,1.000,0.000,0.0000,"{'id': '1k4bu9n', 'title': 'Options traders, w...",1k4bu9n,[YOU],-1
10,0.245,0.755,0.000,-0.0772,"{'id': '1k4ga7q', 'title': 'Another strategy p...",1k4ga7q,[POST],-1
11,0.000,1.000,0.000,0.0000,"{'id': '1k2i1uj', 'title': 'How much is your p...",1k2i1uj,[YOU],-1
12,0.000,0.833,0.167,0.2960,"{'id': '1k2j8ix', 'title': 'Global Payments sh...",1k2j8ix,[PAY],1
13,0.000,0.791,0.209,0.4404,"{'id': '1k30g6o', 'title': 'Do you think rare ...",1k30g6o,[YOU],1
14,0.189,0.630,0.181,-0.0258,"{'id': '1k1b44e', 'title': 'Trump set on firin...",1k1b44e,[POST],-1
15,0.087,0.913,0.000,-0.3164,"{'id': '1k1ooci', 'title': 'If you think this ...",1k1ooci,[YOU],-1
16,0.000,1.000,0.000,0.0000,"{'id': '1k28dv9', 'title': 'GPN to Acquire Wor...",1k28dv9,[PAY],-1
17,0.000,1.000,0.000,0.0000,"{'id': '1k2551t', 'title': 'Is it time to Sezz...",1k2551t,[SEZL],-1
18,0.000,1.000,0.000,0.0000,"{'id': '1k1zjhk', 'title': 'What will be the f...",1k1zjhk,[SEM],-1
19,0.201,0.694,0.104,-0.3400,"{'id': '1k0r288', 'title': 'Are you feeling ti...",1k0r288,[YOU],-1
20,0.000,1.000,0.000,0.0000,"{'id': '1k22596', 'title': 'Automate trades ba...",1k22596,[POST],-1
21,0.000,0.796,0.204,0.3182,"{'id': '1k1dlmw', 'title': 'What’s your reason...",1k1dlmw,[YOU],1
22,0.000,0.656,0.344,0.6486,"{'id': '1k0qzip', 'title': 'Powell indicates t...",1k0qzip,[OLLI],1
23,0.000,0.756,0.244,0.4404,"{'id': '1k0f9po', 'title': 'Do you still belie...",1k0f9po,[YOU],1
24,0.145,0.855,0.000,-0.5994,"{'id': '1k0c0bh', 'title': 'Do you think the U...",1k0c0bh,[YOU],-1
25,0.000,1.000,0.000,0.0000,"{'id': '1jzrcl2', 'title': 'Section 232 Invest...",1jzrcl2,[SEM],-1
26,0.000,1.000,0.000,0.0000,"{'id': '1jyxhme', 'title': 'Trump says he will...",1jyxhme,[SEM],-1
27,0.000,1.000,0.000,0.0000,"{'id': '1k096b6', 'title': 'What are your pick...",1k096b6,[YOU],-1
28,0.216,0.784,0.000,-0.2960,"{'id': '1k0r083', 'title': 'Jerome Powell Took...",1k0r083,[YOU],-1
29,0.000,0.588,0.412,0.6369,"{'id': '1jziwvk', 'title': 'Airbnb's new verti...",1jziwvk,[YOU],1
30,0.514,0.486,0.000,-0.8176,"{'id': '1jyohdv', 'title': 'Trump & Lutnick’s ...",1jyohdv,[SEM],-1
31,0.278,0.722,0.000,-0.4019,"{'id': '1jzifbv', 'title': 'Can you write off ...",1jzifbv,[YOU],-1
32,0.000,1.000,0.000,0.0000,"{'id': '1jy704v', 'title': 'Folks sitting on c...",1jy704v,[YOU],-1
33,0.000,0.838,0.162,0.4019,"{'id': '1jy86gl', 'title': 'ELECTRONIC PRODUCT...",1jy86gl,[SEM],1
34,0.000,1.000,0.000,0.0000,"{'id': '1jzm3z7', 'title': 'Do you think we al...",1jzm3z7,[YOU],-1
35,0.000,1.000,0.000,0.0000,"{'id': '1jyhv6y', 'title': 'Do you think ENPH ...",1jyhv6y,[YOU],-1
36,0.216,0.700,0.084,-0.5033,"{'id': '1jy7l4y', 'title': 'Which sectors do y...",1jy7l4y,[YOU],-1
37,0.000,0.737,0.263,0.3612,"{'id': '1jz1ezf', 'title': 'You Should Buy GCT...",1jz1ezf,[YOU],1

In [20]:
#roberta Pretrained model
!pip install transformers
from transformers import AutoTokenizer
from transformers import AutoModelForSequenceClassification
from scipy.special import softmax

Requirement already satisfied: transformers in /srv/conda/lib/python3.11/site-packages (4.51.3)
Requirement already satisfied: filelock in /srv/conda/lib/python3.11/site-packages (from transformers) (3.18.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.30.0 in /srv/conda/lib/python3.11/site-packages (from transformers) (0.30.2)
Requirement already satisfied: numpy>=1.17 in /srv/conda/lib/python3.11/site-packages (from transformers) (2.2.4)
Requirement already satisfied: packaging>=20.0 in /srv/conda/lib/python3.11/site-packages (from transformers) (24.2)
Requirement already satisfied: pyyaml>=5.1 in /srv/conda/lib/python3.11/site-packages (from transformers) (6.0.2)
Requirement already satisfied: regex!=2019.12.17 in /srv/conda/lib/python3.11/site-packages (from transformers) (2024.11.6)
Requirement already satisfied: requests in /srv/conda/lib/python3.11/site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in /srv/conda/lib/python3.11/site-packages (from transformers) (0.21.1)
Requirement already satisfied: safetensors>=0.4.3 in /srv/conda/lib/python3.11/site-packages (from transformers) (0.5.3)
Requirement already satisfied: tqdm>=4.27 in /srv/conda/lib/python3.11/site-packages (from transformers) (4.67.1)
Requirement already satisfied: fsspec>=2023.5.0 in /srv/conda/lib/python3.11/site-packages (from huggingface-hub<1.0,>=0.30.0->transformers) (2025.3.2)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /srv/conda/lib/python3.11/site-packages (from huggingface-hub<1.0,>=0.30.0->transformers) (4.12.2)
Requirement already satisfied: charset_normalizer<4,>=2 in /srv/conda/lib/python3.11/site-packages (from requests->transformers) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.11/site-packages (from requests->transformers) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.11/site-packages (from requests->transformers) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.11/site-packages (from requests->transformers) (2025.1.31)

In [21]:
!pip3 install torch torchvision

MODEL = f'cardiffnlp/twitter-roberta-base-sentiment'
tokenizer = AutoTokenizer.from_pretrained(MODEL)
model = AutoModelForSequenceClassification.from_pretrained(MODEL)

Requirement already satisfied: torch in /srv/conda/lib/python3.11/site-packages (2.6.0)
Requirement already satisfied: torchvision in /srv/conda/lib/python3.11/site-packages (0.21.0)
Requirement already satisfied: filelock in /srv/conda/lib/python3.11/site-packages (from torch) (3.18.0)
Requirement already satisfied: typing-extensions>=4.10.0 in /srv/conda/lib/python3.11/site-packages (from torch) (4.12.2)
Requirement already satisfied: networkx in /srv/conda/lib/python3.11/site-packages (from torch) (3.4.2)
Requirement already satisfied: jinja2 in /srv/conda/lib/python3.11/site-packages (from torch) (3.1.6)
Requirement already satisfied: fsspec in /srv/conda/lib/python3.11/site-packages (from torch) (2025.3.2)
Requirement already satisfied: nvidia-cuda-nvrtc-cu12==12.4.127 in /srv/conda/lib/python3.11/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-cuda-runtime-cu12==12.4.127 in /srv/conda/lib/python3.11/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-cuda-cupti-cu12==12.4.127 in /srv/conda/lib/python3.11/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-cudnn-cu12==9.1.0.70 in /srv/conda/lib/python3.11/site-packages (from torch) (9.1.0.70)
Requirement already satisfied: nvidia-cublas-cu12==12.4.5.8 in /srv/conda/lib/python3.11/site-packages (from torch) (12.4.5.8)
Requirement already satisfied: nvidia-cufft-cu12==11.2.1.3 in /srv/conda/lib/python3.11/site-packages (from torch) (11.2.1.3)
Requirement already satisfied: nvidia-curand-cu12==10.3.5.147 in /srv/conda/lib/python3.11/site-packages (from torch) (10.3.5.147)
Requirement already satisfied: nvidia-cusolver-cu12==11.6.1.9 in /srv/conda/lib/python3.11/site-packages (from torch) (11.6.1.9)
Requirement already satisfied: nvidia-cusparse-cu12==12.3.1.170 in /srv/conda/lib/python3.11/site-packages (from torch) (12.3.1.170)
Requirement already satisfied: nvidia-cusparselt-cu12==0.6.2 in /srv/conda/lib/python3.11/site-packages (from torch) (0.6.2)
Requirement already satisfied: nvidia-nccl-cu12==2.21.5 in /srv/conda/lib/python3.11/site-packages (from torch) (2.21.5)
Requirement already satisfied: nvidia-nvtx-cu12==12.4.127 in /srv/conda/lib/python3.11/site-packages (from torch) (12.4.127)
Requirement already satisfied: nvidia-nvjitlink-cu12==12.4.127 in /srv/conda/lib/python3.11/site-packages (from torch) (12.4.127)
Requirement already satisfied: triton==3.2.0 in /srv/conda/lib/python3.11/site-packages (from torch) (3.2.0)
Requirement already satisfied: sympy==1.13.1 in /srv/conda/lib/python3.11/site-packages (from torch) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /srv/conda/lib/python3.11/site-packages (from sympy==1.13.1->torch) (1.3.0)
Requirement already satisfied: numpy in /srv/conda/lib/python3.11/site-packages (from torchvision) (2.2.4)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /srv/conda/lib/python3.11/site-packages (from torchvision) (11.1.0)
Requirement already satisfied: MarkupSafe>=2.0 in /srv/conda/lib/python3.11/site-packages (from jinja2->torch) (3.0.2)

In [22]:
def polarity_scores_roberta(example):
    encoded_text = tokenizer(example, return_tensors='pt')
    output = model(**encoded_text)
    scores=output[0][0].detach().numpy()
    scores = softmax(scores)
    scores_dict = { 
        'roberta_neg': scores[0],
        'roberta_neu' : scores[1],
        'roberta_pos' : scores[2]
    }
    return scores_dict

In [23]:
from tqdm import tqdm
res = {}
for i,row in tqdm(stock.iterrows(), total=len(stock)):
    try:
        text = row["title"]
        if isinstance(text, dict):
            text = text.get("title") or text.get("text") or str(text)
        if not isinstance(text, str):
            print(f"Skipping row {i}, bad headline: {text}")
            continue
        myid = row["id"]
        vader_result = sia.polarity_scores(text)
        vader_result_rename = {}
        for key, value in vader_result.items():
            vader_result_rename[f'vader_{key}']=value
        roberta_result = polarity_scores_roberta(text)
        both = {"title":text, **vader_result_rename, **roberta_result}
        res[myid] = both
    except RuntimeError:
        print(f'Broke for id {myid}')

100%|██████████| 38/38 [00:22<00:00,  1.68it/s]

In [24]:
results_df = pd.DataFrame(res).T
results_df = results_df.reset_index().rename(columns={'index':'id'})
results_df = results_df.merge(stock, how='left', on='id')
results_df = results_df.drop(columns='title_y')
results_df.head()

,id,title_x,vader_neg,vader_neu,vader_pos,vader_compound,roberta_neg,roberta_neu,roberta_pos,neg,neu,pos,compound,company mentioned,label
0,1k5recn,At what net income (from investing) do you ret...,0.0,1.0,0.0,0.0,0.10026,0.868474,0.031266,0.0,1.000,0.000,0.0000,[YOU],-1
1,1k4m0wz,What do you think is going through Elons mind ...,0.0,1.0,0.0,0.0,0.033995,0.930515,0.03549,0.0,1.000,0.000,0.0000,[YOU],-1
2,1k5ozeh,What do you use to invest?,0.0,1.0,0.0,0.0,0.114171,0.84324,0.042589,0.0,1.000,0.000,0.0000,[YOU],-1
3,1k5he0f,Warner Bros. Discovery starts Max password sha...,0.0,0.714,0.286,0.4215,0.138725,0.818785,0.042489,0.0,0.714,0.286,0.4215,[BROS],1
4,1k4r1x0,"If Trump posted, ""It's a great time to buy!"" -...",0.0,0.715,0.285,0.6588,0.090335,0.439,0.470665,0.0,0.715,0.285,0.6588,"[YOU, POST]",1

In [25]:
results_df["title_x"][0]

'At what net income (from investing) do you retire?'

In [26]:
results_df["title"] = results_df["title_x"].str.findall(r'[e]\'\:\s(\'[A-Za-z0-9\s\W_]+\')')
results_df = results_df.drop(columns="title_x")